{% layout "layout.liquid" %}
{% block content %}
<h1> All Memos </h1>

{% if memos.length == 0  %}
<h5> Currently No Memos</h5>
{% endif %}


{% for memo in memos %} 
<h5 class="card-header"> Memo Created : {{memo.createdAt | slice: 0, 16}}  </h5>
    <div class="card-body">
        <h5> Memo Number: {{ memo._id | slice: 15,17}}</h5>
           <a href="/memos/{{ memo._id }}" class="btn btn-light">Print Memo</a> 

           <form action="/memos/{{memo._id }}?_method=DELETE" method="POST">
            <input type="submit" value="Delete Memo" class="btn btn-light">
        </form>
    </div>
{% endfor %}
{% endblock %}